<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/BUI/build/css/dpl-min.css" rel="stylesheet" />
    <link href="~/BUI/build/css/bui-min.css" rel="stylesheet" />
    <script src="~/BUI/src/jquery-1.8.1.min.js"></script>
    <script src="~/BUI/src/loader/sea.js"></script>
    <script src="~/BUI/build/config.js"></script>
    <script src="~/Scripts/Student/index.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        <h1>学生管理</h1>
        <div id="grid"></div>
    </div>
</body>
</html>
