
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload</title>
</head>
<body>
    <form action="Upload" method="post" enctype="multipart/form-data">
        <input type="file" value="上传图片" name="filedata" />
        <input type="submit" value="上传文件" />
    </form>

</body>
</html>
